{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url({% static 'images/slide-01.jpg' %});">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Women Collection 2025
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                NEW SEASON
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="{% url 'shop' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url({% static 'images/slide-02.jpg' %});">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Men New-Season
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Jackets & Coats
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="{% url 'shop' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url({% static 'images/slide-03.jpg' %});">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Men Collection 2025
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                New Arrivals
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="{% url 'shop' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{% static 'images/banner-01.jpg' %}" alt="IMG-BANNER">

                    <a href="{% url 'shop' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Women
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2025
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER">

                    <a href="{% url 'shop' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Men
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2025
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{% static 'images/banner-03.jpg' %}" alt="IMG-BANNER">

                    <a href="{% url 'shop' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Accessories
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                New Trend
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product -->
<section class="sec-product bg0 p-t-100 p-b-50">
    <div class="container">
        <div class="p-b-32">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Store Overview
            </h3>
        </div>
<div class="row">

{% for product in products %}
<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
    
    <!-- Block2: Add all the data-* attributes here -->
    <div class="block2"
         data-product-name="{{ product.name }}" 
         data-product-price="{{ product.price }}"
         data-product-image-url="{{ product.image.url }}"
         data-product-description="{{ product.description|truncatewords:30 }}"
         data-product-id="{{ product.id }}">

        <div class="block2-pic hov-img0">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/product-placeholder.png' %}" alt="No Image Available">
            {% endif %}
            <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                Quick View
            </a>
        </div>
        <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
                <a href="{% url 'products:product_detail' product.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                    {{ product.name }}
                </a>
                <span class="stext-105 cl3">
                    ${{ product.price }}
                </span>
            </div>
            <div class="block2-txt-child2 flex-r p-t-3">
                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                    <img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

</div>
            </div>
        </div>
        <!-- End of slider wrapper -->

    </div>
</section>



	<!-- Blog -->
	<section class="sec-blog bg0 p-t-60 p-b-90">
			<div class="p-b-66">
				<h3 class="ltext-105 cl5 txt-center respon1">
					Our Blogs
				</h3>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-4 p-b-40">
					<div class="blog-item">
						<div class="hov-img0">
							<a href="blog-detail.html">
								<img src="{% static 'images/blog-01.jpg' %}" alt="IMG-BLOG">
							</a>
						</div>

						<div class="p-t-15">
							<div class="stext-107 flex-w p-b-14">
								<span class="m-r-3">
									<span class="cl4">
										By
									</span>

									<span class="cl5">
										Nancy Ward
									</span>
								</span>

								<span>
									<span class="cl4">
										on
									</span>

									<span class="cl5">
										July 22, 2022 
									</span>
								</span>
							</div>

							<h2 class="p-b-12">
								<a href="blog-detail.html" class="mtext-101 cl2 hov-cl1 trans-04">
									8 Inspiring Ways to Wear Dresses in the Winter
								</a>
							</h2>

							<div class="blog-content" style="text-align: justify;">

							<p class="stext-108 cl6">
    							Winter doesn’t mean saying goodbye to your favorite dresses. With a few clever styling ideas, you can enjoy the comfort and charm of dresses while staying warm and fashionable. From layering techniques to the perfect choice of accessories, here are eight inspiring ways to wear dresses in the colder months.
  							</p>

  							<h6>1. Layer with Chunky Sweaters</h6>
  								<p class="stext-108 cl6">
    								One of the easiest ways to transition a dress into winter is by adding a chunky knit sweater on top. This instantly transforms your dress into a cozy skirt while keeping you warm. Opt for neutral tones or oversized knits for a relaxed yet chic look.
  								</p>

  							<h6>2. Add Warm Tights or Leggings</h6>
  								<p class="stext-108 cl6">
    								Tights and leggings are winter wardrobe staples. Pair your dress with opaque tights, thermal leggings, or even fleece-lined options for extra warmth. Black tights are timeless, while patterned or colored styles can add personality to your outfit.
  								</p>

  							<h6>3. Style with Knee-High or Ankle Boots</h6>
  								<p class="stext-108 cl6">
    								Boots are the ultimate winter accessory. Pair a flowy dress with knee-high boots for elegance, or go for ankle boots with a midi dress for a more casual vibe. Adding thick socks that peek slightly over the boots can also enhance the layered look.
  								</p>

  							<h6>4. Top It Off with Statement Coats</h6>
  								<p class="stext-108 cl6">
   							 		A stylish coat can elevate any dress instantly. Think wool coats, trench coats, or longline puffer jackets. Not only will they keep you warm, but they’ll also add structure and sophistication to your outfit. Belted coats work especially well with dresses to highlight your waistline.
  								</p>

  							<h6>5. Layer with Turtlenecks or Long-Sleeve Tops</h6>
  								<p class="stext-108 cl6">
    								For extra warmth, wear a fitted turtleneck or long-sleeve top under your dress. This works beautifully with sleeveless or slip dresses, giving them a fresh winter twist. Stick to slim-fit tops to avoid bulk and maintain a sleek silhouette.
  								</p>

  							<h6>6. Accessorize with Scarves and Shawls</h6>
  								<p class="stext-108 cl6">
   	 								Scarves and shawls are both practical and stylish. A chunky knit scarf adds coziness to casual dresses, while a sleek wool shawl can make your outfit look polished and elegant. Choose complementary colors or bold prints to make your outfit stand out.
  								</p>

  							<h6>7. Embrace Layered Outerwear</h6>
  								<p class="stext-108 cl6">
    								Don’t hesitate to experiment with layered outerwear. Try pairing your dress with a denim jacket under a long coat, or a leather jacket with a warm scarf. These combinations not only keep you insulated but also add depth and character to your look.
  								</p>

  							<h6>8. Choose Winter Fabrics and Darker Palettes</h6>
  								<p class="stext-108 cl6">
    								When picking dresses for winter, fabrics make all the difference. Go for heavier materials like wool blends, corduroy, or velvet. Darker shades—such as deep greens, burgundy, navy, or charcoal—naturally suit the season while maintaining elegance.
  								</p>

  							<h6>Conclusion</h6>
  								<p class="stext-108 cl6">
    								With the right styling, dresses can remain a central part of your winter wardrobe. From layering with knits to pairing with boots and coats, these eight ideas offer plenty of inspiration to help you stay warm without compromising on style. This season, don’t put away your dresses—reinvent them with a winter-ready twist.
 	 							</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4 p-b-40">
					<div class="blog-item">
						<div class="hov-img0">
							<a href="blog-detail.html">
								<img src="{% static 'images/blog-02.jpg' %}" alt="IMG-BLOG">
							</a>
						</div>

						<div class="p-t-15">
							<div class="stext-107 flex-w p-b-14">
								<span class="m-r-3">
									<span class="cl4">
										By
									</span>

									<span class="cl5">
										Jack Williams
									</span>
								</span>

								<span>
									<span class="cl4">
										on
									</span>

									<span class="cl5">
										July 18, 2022
									</span>
								</span>
							</div>

							<h2 class="p-b-12">
								<a href="blog-detail.html" class="mtext-101 cl2 hov-cl1 trans-04">
									The Great Big List of Men’s Gifts for the Holidays
								</a>
							</h2>

							<div class="blog-content" style="text-align: justify;">

  <p class="stext-108 cl6">
    Finding the perfect gift for the men in your life can be a challenge, especially during the holiday season. Whether you are shopping for a father, brother, partner, or friend, this guide brings together a wide range of thoughtful, practical, and stylish ideas to make your holiday shopping easier. From tech gadgets to timeless fashion pieces, here’s the ultimate list of men’s gifts for the holidays.
  </p>

  <h6>1. Tech & Gadgets</h6>
  <p class="stext-108 cl6">
    For the man who loves technology, gadgets make a perfect gift. Consider wireless earbuds, smartwatches, portable speakers, or the latest gaming accessories. These practical items blend function with excitement and are sure to impress.
  </p>

  <h6>2. Fashion & Accessories</h6>
  <p class="stext-108 cl6">
    Timeless wardrobe staples never fail as gifts. Think leather wallets, sleek belts, luxury ties, or cozy scarves. Watches also remain a classic choice for men who appreciate style and elegance.
  </p>

  <h6>3. Grooming & Self-Care</h6>
  <p class="stext-108 cl6">
    A grooming kit, electric shaver, or premium skincare set makes a thoughtful present. Men’s self-care products have grown in popularity, and gifting high-quality grooming essentials shows both practicality and care.
  </p>

  <h6>4. Sports & Fitness</h6>
  <p class="stext-108 cl6">
    Fitness trackers, workout gear, or home gym equipment are excellent choices for active men. For sports lovers, team merchandise or tickets to a favorite game can create lasting memories.
  </p>

  <h6>5. Outdoor & Adventure</h6>
  <p class="stext-108 cl6">
    For men who enjoy the outdoors, consider hiking boots, camping gear, or multi-tools. Durable backpacks and insulated water bottles also make great gifts for adventure seekers.
  </p>

  <h6>6. Food & Drink</h6>
  <p class="stext-108 cl6">
    A gourmet gift set, fine whiskey, coffee kit, or a monthly subscription box makes for a unique and enjoyable holiday gift. These options are perfect for men who love indulging in good food and drink.
  </p>

  <h6>7. Hobbies & Entertainment</h6>
  <p class="stext-108 cl6">
    Tailor your gift to his hobbies—whether it’s books, music, photography, or DIY. Board games, puzzles, or streaming subscriptions also make versatile options for holiday fun.
  </p>

  <h6>Conclusion</h6>
  <p class="stext-108 cl6">
    Choosing the right holiday gift for men doesn’t have to be complicated. By focusing on his interests—whether it’s technology, fashion, fitness, or leisure—you’ll find something that is both thoughtful and practical. Use this list as inspiration to make this holiday season extra special with gifts he’ll truly appreciate.
  </p>

</div>

						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4 p-b-40">
					<div class="blog-item">
						<div class="hov-img0">
							<a href="blog-detail.html">
								<img src="{% static 'images/blog-03.jpg' %}" alt="IMG-BLOG">
							</a>
						</div>

						<div class="p-t-15">
							<div class="stext-107 flex-w p-b-14">
								<span class="m-r-3">
									<span class="cl4">
										By
									</span>

									<span class="cl5">
										Catherine Moss
									</span>
								</span>

								<span>
									<span class="cl4">
										on
									</span>

									<span class="cl5">
										July 2, 2024 
									</span>
								</span>
							</div>

							<h4 class="p-b-12">
								<a href="blog-detail.html" class="mtext-101 cl2 hov-cl1 trans-04">
									5 Winter-to-Spring Fashion Trends to Try Now
								</a>
							</h4>

							<div class="blog-content" style="text-align: justify;">

  <p class="stext-108 cl6">
    As the seasons shift from winter’s chill to the fresh energy of spring, your wardrobe deserves a stylish update. Transitioning between these seasons doesn’t mean starting over—it’s about refreshing what you already have and adding a few key pieces. Here are five winter-to-spring fashion trends you can start wearing right now.
  </p>

  <h6>1. Layered Light Knits</h6>
  <p class="stext-108 cl6">
    Swap heavy sweaters for lightweight knits that are perfect for layering. Pair a fine knit turtleneck under a blazer or wear a cropped cardigan over a dress. These versatile pieces keep you cozy on cooler days while feeling light enough for spring.
  </p>

  <h6>2. Transitional Outerwear</h6>
  <p class="stext-108 cl6">
    Ditch the heavy winter coats and embrace transitional outerwear. Think trench coats, denim jackets, or oversized blazers. These pieces offer just the right balance of warmth and breathability as the weather shifts.
  </p>

  <h6>3. Fresh Color Palettes</h6>
  <p class="stext-108 cl6">
    While winter often leans on darker tones, spring is the time to embrace lighter, brighter hues. Soft pastels, earthy neutrals, and pops of bold color create a refreshing update without feeling overwhelming.
  </p>

  <h6>4. Boots with a Twist</h6>
  <p class="stext-108 cl6">
    Don’t put away your boots just yet. Pair ankle or knee-high boots with flowy dresses, midi skirts, or cropped trousers. The mix of sturdy footwear with lighter spring outfits creates an effortlessly chic contrast.
  </p>

  <h6>5. Playful Prints</h6>
  <p class="stext-108 cl6">
    Patterns instantly liven up your wardrobe during the transition. Florals, checks, and stripes are timeless spring choices that also work well with winter layers. Mix prints with neutrals for a balanced and modern look.
  </p>

  <h6>Conclusion</h6>
  <p class="stext-108 cl6">
    Transitioning from winter to spring is all about balance—keeping cozy staples while introducing fresh, lighter pieces. With these five trends, you’ll move through the seasons in style without missing a beat.
  </p>

</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
